
    <h1>Your One Personal Collection App</h1>
    <p>
      This is an application Design to help you Manage your Personal Collections.<br/>
	  We have features to group the into Categories etc.... Try Us OUT
    </p>
 
 <%= link_to "Sign up here", signup_path, :class => "signup_button round" %>
